<main>
     <!-- https://materializecss.com/cards.html -->
     <div class="container">
       <h1>Welcome to the Regenerative Healing Center Portal!</h1>
 
       <div class="row">
             <div class="click">
               <a href="/doctor">Click here if you are a doctor.</a>
             </div>
 
           </div>
         </div>
       </div>
     </div>
   </main>