 <!DOCTYPE html>
 <html lang="en">

 
 <head>
   <meta charset="UTF-8">
 
   <title>Regenerative Healing Center</title>
 
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="/styles/materialize.min.css">
   <!-- Compiled and minified CSS -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
           
   <!-- Page specific CSS -->
   <link rel="stylesheet" href="/styles/main.css">
   <link rel="stylesheet" href="/styles/index.css">

 </head>
 
 <body>
            
   <!-- https://materializecss.com/navbar.html -->
   <header>
     <nav>
       <div class="nav"> 
         <a href="/" target="_blank"><img src="/images/rhc.jpeg"alt="RHC logo" title="RHC logo"></a>
         <a href="/" class="brand-logo">Regnerative Healing Center</a>
         <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
         <ul id="desktop-nav" class="right hide-on-med-and-down">
           <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
           <li><a href="/doctor"><i class="material-icons left">face</i>Doctor</a></li>
         </ul>
       </div>
     </nav>
     <ul id="mobile-nav" class="sidenav">
       <li><a href="/index"><i class="material-icons left">home</i>Home</a></li>
       <li><a href="/doctor"><i class="material-icons left">face</i>Doctor</a></li>
     </ul>
   </header>


    <main>
      {{{body}}}
    </main>

    <!-- https://materializecss.com/footer.html -->
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
          © 2022 Jeremy Slaten
        </div>
      </div>
    </footer>

    <!-- Compiled and minified Materialize JavaScript -->
    <script src="/js/materialize.min.js"></script>

    <!-- initialize Materialize elements -->
    <script> M.AutoInit();</script>
  </body>
</html>
