<main>
     <!-- https://materializecss.com/cards.html -->
     <div class="container">
       <h1>Patient List</h1>

       <a class="waves-effect waves-light btn">Click on a patient to create an appointment for them</a>
        <table>
          <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><a href="/appointmentform">Bob</td></a>
              <td><a href="/appointmentform">Jones</td></a>
              <td>2014239345</td>
              <td>jones@gmail.com</td>
            </tr>
            
          </tbody>
        </table>
         </div>
       </div>
     </div>
   </main>