<main>
    <form id="create_update_appointment" method="post" action="/appointmentform">
      <!-- action and method depend on C vs U-->
      <input type="hidden" name="appointment_id" id="appointment_id" value="0">
      <!-- server sets event_id value-->

      <div class="container">
        <div class="card grey lighten-4">
          <div class="card-content">

            <span class="card-title">
              <h1>Notify Page</h1>
            </span>


            

            <!-- https://materializecss.com/select.html -->
            

              

            <div class="row">
              <div class="input-field col s4">
                <input type="text" id=patient_id name="patient_name" class="datepicker no-autoinit" required>
                <label for="patient_name">First and Last Name</label>
              </div>

             

              </div>
            </div>

            </div>

            <div class="button_wrapper">
              <a href="/patient" class="waves-effect waves-light btn">Click to notify the doctor</a>
            </div>
          </div>
        </div>

      </div>
    </form>
  </main>