<main>
     <!-- https://materializecss.com/cards.html -->
     <div class="container">
       <h1>Pending Appointments</h1>
        <table>
          <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>New or Modify?</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Bob</td>
              <td>Jones</td>
              <td><a href="/appointmentform">Click to create a new appointment.</td></a>
            </tr>
            <tr>
              <td>Jill</td>
              <td>Round</td>
              <td><a href="/modify">Click to modify "appointment_date" appointment.</td></a>
            </tr>
            
          </tbody>
        </table>
         </div>
       </div>
     </div>
   </main>